.learn-page-landing-section{
    padding: 3rem 2rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
    width: 100%;
    min-height: 90vh;
}
.learn-page-landing-section-left img{
    width: 300px;
}
.learn-page-landing-section-right{
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.learn-page-landing-section-right h1 span{
    color: var(--blue);
} 
.learn-page-second-section{
    min-height: 0vh;
    padding: 1rem 2rem;
}
.learn-page-landing-section-right h2 span{
    color: var(--blue);
}
.learn-page-landing-section-right ul{
    margin-left: 2rem;
    font-size: 12px;
}
.learn-page-landing-section-right .btn-a{
    display: inline-block;
    width: 200px;
    text-align: center;
}