.meet-science-banner-section{
    width: 100%;
    height: 40vh;
    overflow: hidden;
    position: relative;
}
.meet-science-banner-section img{
    width: 100%;
    object-fit: cover;
    height: 100%;
}
.meet-science-banner-section .overlayer{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.604);
    position: absolute;
    top: 0%;
    left: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}
.meet-science-landing-section{
    padding: 3rem 2rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
}
.meet-science-landing-section img{
    width: 140px;
}